@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1627038128747') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwucheman:before {
  content: "\f0178";
}

.icon-gouwuchekong:before {
  content: "\f0179";
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-fangdajing:before {
  content: "\e617";
}

.icon-xiazai6:before {
  content: "\e607";
}

.icon-nickname:before {
  content: "\e66e";
}

.icon-7tianwuliyoutuihuo:before {
  content: "\e60e";
}

.icon-editor2:before {
  content: "\e62e";
}

.icon-weixiu:before {
  content: "\e62f";
}

.icon-huafei:before {
  content: "\e638";
}

.icon-jiantou:before {
  content: "\e603";
}

.icon-weixin:before {
  content: "\e659";
}

.icon-miaosha:before {
  content: "\e60f";
}

.icon-duanxin:before {
  content: "\e604";
}

.icon-weibo:before {
  content: "\e67a";
}

.icon-weizhibiaoji:before {
  content: "\e61f";
}

.icon-service:before {
  content: "\e88d";
}

.icon-xiangji:before {
  content: "\e61d";
}

.icon-qiye:before {
  content: "\e610";
}

.icon-gerenzhongxin:before {
  content: "\e611";
}

.icon-circle-arrow-right:before {
  content: "\e8bb";
}

.icon-nickname1:before {
  content: "\e684";
}

.icon-shouji:before {
  content: "\e68d";
}

.icon-F_round:before {
  content: "\e632";
}

.icon-libao:before {
  content: "\e6ab";
}

.icon-arrow-right:before {
  content: "\e660";
}

.icon-quanxian:before {
  content: "\e568";
}

.icon-weizhi:before {
  content: "\e612";
}

.icon-shandian:before {
  content: "\e639";
}

.icon-Arrow-RightCircle:before {
  content: "\e605";
}

.icon-chevron-left:before {
  content: "\e6a6";
}

.icon-chevron-down:before {
  content: "\e6a7";
}

.icon-chevron-right:before {
  content: "\e6a8";
}

.icon-chevron-up:before {
  content: "\e6a9";
}

.icon-Arrow-RightCircle1:before {
  content: "\e742";
}

